Package: origami-kernel
Architecture: all
Maintainer: Rem01Gaming
Installed-Size: 1500
Version: 1.1.0
Homepage: https://github.com/Rem01Gaming/origami_kernel_manager
Depends: fzf, fzy, jq, curl, sqlite
Description: Yet another kernel manager.
